[project]
	description = This is a test project
[access "refs/*"]
	owner = group user/sms-moses (sms-moses)
[access "refs/for/refs/*"]
	read = group user/sms-moses (sms-moses)
	push = group user/sms-moses (sms-moses)
	label-Code-Review = -2..+2 group user/sms-moses (sms-moses)
	label-Verified = -1..+1 group user/sms-moses (sms-moses)
	rebase = group user/sms-moses (sms-moses)
	removeReviewer = group user/sms-moses (sms-moses)
	submit = group user/sms-moses (sms-moses)
[access "refs/heads/*"]
	read = group user/sms-moses (sms-moses)
	create = group user/sms-moses (sms-moses)
	push = +force group user/sms-moses (sms-moses)
	pushMerge = group user/sms-moses (sms-moses)
[access "refs/tags/*"]
	push = +force group user/sms-moses (sms-moses)
	pushTag = group user/sms-moses (sms-moses)
	pushSignedTag = group user/sms-moses (sms-moses)
